html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    background-color: lightgray;
}

::placeholder {
  color: gray;
}

.container{
    display:flex;
    flex-direction: column;
    max-width: 400px;
    margin: 30px auto;
    position:relative;
}

object{
    width: 720px;
    height:720px;
    display:flex;
    flex-direction: column;
    margin: 30px auto;
}

h3 {    
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
}

img.style{
    width: 350px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

img.ico {
    width: 20px;
    float: right;
}

label {
    text-align: center;   
}

#input-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

label.file {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    color: black;
    background-color: gray;
    border: 0;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    margin: 10px 0;
}

label.file:active{
    background-color: floralwhite;  
}

input {
    font-family: 'Nunito', sans-serif;
    color: black;
    background-color: floralwhite;
    border: 0;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    margin: 5px 0;
}

button {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    color: black;
    background-color: gray;
    border: 0;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    margin: 10px 0;
}


button.hinos {
    max-width: 72px;
    padding: 5px;
    margin: 2px 0;
    font-size: 25px;
    
} 

button.download {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    color: black;
    background-color: gray;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    margin: 10px 0;
    width: 250px;
   /*  max-height: 150px; */
}

button:active{
    background-color: floralwhite;  
}

select{
    font-family: 'Nunito', sans-serif;
    color: black;
    background-color: floralwhite;
    border: 0;
    padding: 0px;
    border-radius: 8px;
    text-align: center;
    margin: 10px 0;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}
